<!DOCTYPE html>
<html lang="en">
<head>
    <title>Html Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="js/javascript_function.js"></script>
    <link href="css/style_css.css" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="./users.html">Users</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container text-center">
        <h1>Users page</h1>
        <p>Some text that represents "Me"...</p>
    </div>
</div>

<article>
    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-4">
                            NOME
                        </div>
                        <div class="col-sm-4">
                            COGNOME
                        </div>
                        <div class="col-sm-4">
                            EMAIL
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-5">
                        </div>
                        <div class="col-sm-5">
                        </div>
                        <div class="col-sm-1" style="padding:0 !important; margin-left:-7px !important;">
                            <a href="formAddUser.html">
                                <button type="button" class="btn btn-info">+</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <div id="insert_here_users"></div>
        <script src="js/load_users.js"></script>
    </ul>
</article>


<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>

</body>
</html>
